.wrapper {
    width: 300px;
    border: 2px solid rgb(69, 8, 239);
    border-radius: 8px;
    box-shadow: rgb(221, 214, 214, 0.3);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: rgb(69, 8, 239);
    color: rgb(238, 240, 242);
    padding: 10px;
    box-shadow: rgb(221, 214, 214, 0.3);
}

.icon {
    margin-right: 5px;
}